name: Lighthouse CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            http://127.0.0.1:8080/index.html
          staticDistDir: .
          uploadArtifacts: true
          temporaryPublicStorage: true
